.container{
    display: flex;
    width: 100%;
    height: 7rem;
    justify-content: center;
    align-items: center;
}
button{
    background-color: #200E3A;
    border-radius: 9rem;
    width: 10rem;
    height: 5rem;
    margin: 2rem;
    border: none;
    box-shadow: 0.1rem 0.3rem 0.5rem 0.2rem;
}

a{
    color: #F8F4EC;
    font-size: 2rem;
    text-decoration: none;
}